body {
    background-color: skyblue;
    color: #fff;
}

.navbar {
    background: blue;
    border-bottom: #333 3px solid;
    opacity: 0.;
}

#menu ul {}

#menu ul li {
    display: inline;
}

#menu ul li a {
    width: 100px;
    color: aliceblue;
}

#menu ul li a:hover {
    background-color: rgb(216, 213, 226);
}

#jum {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color: rgb(241, 240, 245);
    background-image: url(./gambar/WhatsApp\ Image\ 2021-04-25\ at\ 11.21.34\ AM\ \(2\).jpeg);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

#home-section {
    background-color: rgb(98, 165, 228);
    color: white;
}

#create-section {
    text-align: center;
}

#info {
    background-color: rgb(87, 122, 216);
}